.ass-menu-button {
    color: #fff;
}

.ass-aside-menu {
    background-color: #111;
    color: #fff;
}

.ass-aside-menu-item {
    border-bottom: 1px solid #555;
}

.ass-aside-menu-item:active, .ass-aside-menu-item:visited, .ass-aside-menu-item:link,
.ass-aside-menu-close:active, .ass-aside-menu-close:visited, .ass-aside-menu-close:link {
    color: #fff;
}

.ass-aside-menu-item:hover, .ass-aside-menu-close:hover {
    color: #666;
}

.ass-aside-overlay {
    background-color: rgba(0, 0, 0, 0.3);
}
