<!DOCTYPE html>
<html ng-app="demo" ng-controller="MySidebar">
    <head>
        <title>angular-simple-sidebar</title>
        <meta charset="utf-8">
        <meta name="author" content="secanis.ch">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
        <link rel="stylesheet" href="app/directive/angular-simple-sidebar.css">
        <link ng-if="theme === 'black'" rel="stylesheet" href="app/directive/theme/angular-simple-sidebar-black-theme.css">
    </head>
    <body>
        <nav class="navbar" ng-class="{'navbar-default': theme == 'white', 'navbar-inverse': theme == 'black'}">
            <div class="container-fluid">
                <div class="navbar-header">
                    <angular-simple-sidebar state="state" items="items" title="menuTitle" settings="settings"></angular-simple-sidebar>
                </div>
            </div>
        </nav>

        <div class="row">
            <div class="col-md-4">
                <select class="form-control" ng-model="theme">
                    <option value="white">white theme</option>
                    <option value="black">black theme</option>
                </select>
            </div>
        </div>

        <script src="node_modules/angular/angular.js"></script>
        <script src="app/app.js"></script>
        <script src="app/js/controller.js"></script>
        <script src="app/directive/angular-simple-sidebar.js"></script>
    </body>
</html>
